<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.dchruscinski.pilnujgrosza">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/pilnuj_grosza_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pilnuj_grosza_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PilnujGrosza.Launcher">
        <activity
            android:name="pl.dchruscinski.pilnujgrosza.Summary"
            android:label="@string/title_activity_summary" />
        <activity
            android:name="pl.dchruscinski.pilnujgrosza.ExpensesList"
            android:label="@string/title_activity_expenses_list" />
        <activity
            android:name="pl.dchruscinski.pilnujgrosza.IncomeList"
            android:label="@string/title_activity_income_list" />
        <activity
            android:name="pl.dchruscinski.pilnujgrosza.Receipt"
            android:label="@string/title_activity_receipt" />
        <activity
            android:name="pl.dchruscinski.pilnujgrosza.ShoppingList"
            android:label="@string/title_activity_shopping_list" />
        <activity
            android:name="pl.dchruscinski.pilnujgrosza.Settings"
            android:label="@string/title_activity_settings" />

        <activity
            android:name="pl.dchruscinski.pilnujgrosza.Profile" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="pl.dchruscinski.pilnujgrosza.Calendar"
            android:label="@string/title_activity_calendar" />
        <activity
            android:name="pl.dchruscinski.pilnujgrosza.Shopping"
            android:label="@string/title_activity_shopping" />
        <activity
            android:name="pl.dchruscinski.pilnujgrosza.Budget"
            android:label="@string/title_activity_budget" />

        <activity
            android:name="pl.dchruscinski.pilnujgrosza.MainMenu"
            android:label="@string/title_activity_menu" />

    </application>

</manifest>